
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            {{capital.pays}}
        </mat-expansion-panel-header>
        <div class="info">
            <p>capital: {{capital.ville}} </p>
            <p>population: {{capital.population}} habitant</p>
            <p>coordonnées: latitude: {{capital.latitude}} , longitude: {{capital.longitude}}</p>
        </div>
        <mat-action-row>
            <button routerLink="edit"mat-button color="primary">Edit</button>
            <button mat-button color="warn">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
    
</mat-accordion>