/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

.flex-50 {
  flex: 1 1 50%;
}
.pr-10 {
  padding-right: 1rem;
}

.pl-10 {
  padding-left: 1remx;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  .container{
    
    flex-grow: 1;
  }
}